.dayCardContainer {
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  transition: all 1s;
}
.dayCardContainer:hover {
  border-color: #0081dd;
}
.dayCardContainer:hover .moreInfoArrow {
  color: #0081dd;
  font-weight: 600;
}

.dayCard {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
  font-weight: 500;
  color: rgb(43, 43, 43);
  font-size: 1.1rem;
  width: 8rem;
}
.dayCardInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dayNumber {
  font-weight: 700;
  font-family: monospace;
  font-size: 1.2rem;
  color: black;
}
.maxTemp {
  font-size: 1.2rem;
  color: black;
  align-self: center;
}
.minTemp {
  font-size: 0.95rem;
  color: black;
  align-self: flex-end;
}

.moreDayInfo {
  padding: 01rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}

.nextDaysHourlyContainer {
  width: 0;
  overflow: hidden;
  transform: scale(0.95);
  padding: 0;
  padding-bottom: 0;
  display: flex;
  gap: 0.8rem;
  transition: all 0.4s;
}
.nextDaysHourlyContainer .hourCardTotalInfo {
  border: 2px solid rgb(45, 45, 45);
}
.showHourCards {
  width: 37vw;
  height: min-content;
  overflow: auto;
}
