.dayCardContainer {
  background-color: white;
  border-radius: 6px;
  border: 1px solid transparent;
  display: flex;
  transition: all 0.3s;
  width: 50%;
  position: relative;
}
.dayCardContainer:hover {
  border-color: #999999;
  cursor: pointer;
}
.dayCardContainer:hover .moreInfoArrow {
  color: orangered;
  font-weight: 600;
}
.dayCardContainer:hover .dayCardIcon {
  color: orangered;
}
.dayCardContainer:hover .dayNumber {
  color: orangered;
}
.dayCardIcon {
  color: rgb(101, 89, 0);
}
.dayCard {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  width: 8rem;
}
.dayCardInfo {
  display: flex;
  flex-direction: column;
}
.dayCardMoreInfo {
  display: flex;
  align-items: center;
  color: rgb(36, 36, 36);
  gap: 5px;
}
.dayNumber {
  font-weight: 700;
  font-family: Arial;
  font-size: 1rem;
  color: black;
}
.maxTemp {
  font-size: 1.2rem;
  color: black;
  align-self: center;
  display: flex;
  align-items: center;
}
.minTemp {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: black;
  align-self: flex-end;
}

.moreDayInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.8rem;
}
