.loaderContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 10px solid #ffffff;
  border-top-color: orangered;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}
.loaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orangered;
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
