body {
  margin: 0;
  display: flex;
  place-items: center; /*might delete*/
  min-width: 320px;
  max-height: 100vh;
}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}
.main {
  display: grid;
  grid-template-rows: auto 1fr;
}
.header {
  background-color: rgb(40, 41, 43);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.logoImg {
  height: 2.5rem;
}
.locationImg {
  height: 1.5rem;
  color: #ff4218;
}
.input {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.searchImg {
  height: 1.2rem;
}
input {
  border: 2px solid transparent;
  font-size: 1rem;
  background-color: #ffffff;
  transition: border-color 0.25s;
  color: rgb(108, 108, 108);
  outline: none;
}
input:focus {
  color: rgb(0, 0, 0);
}
/*CONTENT*/
.content {
  color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1.4rem;
}
@keyframes sideBar {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
}
.sideBar {
  padding: 2rem 0rem;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  margin-right: 1rem;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: border-color 0.5s;
}
.sideBar:hover {
  /* animation: sideBar 0.8s; */
  border-color: #ff4218;
}
.currentHourNumber {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
}
.currentInfo {
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-weight: 600;
}
.generalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  font-size: 1.1rem;
  padding: 1.5rem;
}
.smallInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.smallInfo p {
  font-weight: 900;
}
.sun {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
@keyframes backgroundColor {
  from {
    background-color: #0059c0;
  }

  to {
    background-color: rgb(9, 4, 36);
  }
}
.sunriseCard,
.sunsetCard {
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  padding: 0rem 0.5rem;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: max-content;
}
.sunriseCard {
  animation: backgroundColor 6s alternate infinite;
}
.sunsetCard {
  animation: backgroundColor 6s alternate-reverse infinite;
}
.rightContainer {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}
.sunData {
  font-family: monospace;
  font-weight: 700;
  font-size: 1rem;
}
.forecastHourContainer {
  /* background-color: #dadada; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.forecastTitle,
.nextDaysTitle {
  font-weight: 400;
}
.forecastHourly {
  display: flex;
  overflow: auto visible;
  gap: 1rem;
  max-width: 800px;
}

.hourCardTotalInfo {
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.5s;
}
.hourCard {
  background-color: rgb(255, 255, 255);
  color: rgb(66, 66, 68);
  border-radius: 10px;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
}
.hourCardTotalInfo:hover {
  border-color: #ff4218;
}
.moreInfoArrow {
  font-style: italic;
  font-weight: 100;
  font-size: 0.95rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.arrow {
  margin: 0;
  font-size: 1.5rem;
}
.moreInfoActive {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: max-content;
}
.hourInfoActive {
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
  width: 100%;
}
.hourInfoNumber {
  font-weight: 600;
  font-style: italic;
}
.hourNumber {
  font-family: monospace;
  font-style: italic;
  font-size: 1rem;
  border-bottom: 1px solid grey;
}
/* Ancho del scrollbar */
::-webkit-scrollbar {
  height: 10px;
  margin: 1rem;
}
/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
}

/* Color de la pista del scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.nextDaysContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 15px;
  overflow: auto;
}
.nextDays {
  display: flex;
  gap: 2rem;
}
.dayCardContainer {
  background-color: white;
  border-radius: 15px;
  border: 1px solid transparent;
  display: flex;
}
.dayCardContainer:hover {
  border-color: #f1b900;
}
.dayCard {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
  font-weight: 500;
  color: rgb(43, 43, 43);
  font-size: 1.1rem;
  width: 8rem;
}
.dayCardInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.dayNumber {
  font-weight: 700;
  font-family: monospace;
  font-size: 1.2rem;
  color: black;
}
.maxTemp {
  font-size: 1.2rem;
  color: black;
  align-self: center;
}
.minTemp {
  font-size: 0.95rem;
  color: black;
  align-self: flex-end;
}
.moreDayInfo {
  padding: 01rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}
.nextDaysHourlyContainer {
  padding: 0rem;
  width: 37vw;
  height: min-content;
  display: flex;
  gap: 0.8rem;
  overflow: auto;
  transform: scale(0.95);
}
.nextDaysHourlyContainer .hourCardTotalInfo {
  border: 2px solid rgb(45, 45, 45);
}
/*CONTENT END*/
.footer {
  color: black;
  background-color: rgba(0, 0, 0, 0.204);
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
a {
  font-weight: 500;
  color: #0039ca;
  text-decoration: inherit;
}
a:hover {
  color: #00aeff;
}
.undefined {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: monospace;
}
