body {
  margin: 0;
  display: flex;
  place-items: center; /*might delete*/
  min-width: 320px;
  max-height: 100vh;
}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}
.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
  height: 10px;
  margin: 1rem;
}
/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
}

/* Color de la pista del scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
